html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  line-height: 1.4em;
  background-color: #fff;
  color: #333;
  padding: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  margin: 0;
  padding: 15, 20;
  align-items: center;
  line-height: 1.4em;
}

nav {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

nav li {
  margin: 1em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

.images img {
  border-radius: 3px;
  display: block;
  border: solid #cacaca;
  background: #fff;
  text-align: center;
  overflow: hidden;
  border-width: 1px;
  line-height: 0;
  margin: 0 9;
  padding: 1em;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div p {
  font-size: 16px;
  color: #666;
  font-weight: bold;
  text-align: right;
  padding: 12px 0 12px 0;
  margin: 0 12px 22px;
  border-bottom: 1px solid #cacaca;
  position: relative;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
